#visual-portal-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

body {
  font: 100% Arial, FreeSans, sans-serif;
  background: #e8e6d7;
  color: Black;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Arial, sans-serif, FreeSans, "標楷體";
  font-weight: bold;
  color: Black;
  line-height: 1.5em;
}

#portal-top {
  background: #fff url(++theme++tncr/img/banner.jpg) no-repeat top left;
}

#portal-top div.width-full {
  width: 100%;
}
#portal-top div.position-0 {
  margin-left: -100%;
}

#portal-logo {
  margin: 1.25em 0 2em 0.75em;
}

#portal-globalnav {
  font: 115% Arial, sans-serif, FreeSans, "標楷體";
  background: #7f733e;
}
#portal-globalnav li a {
  padding: 2px 15px;
  min-width: 30px;
  background: #7f733e;
}
#portal-globalnav a:link, #portal-globalnav a:visited {
    color: White;
}
#portal-globalnav .selected a {
  background: Orange;
}
#portal-globalnav a:hover {
  background: #858274;
  color: #205c90;
}
#portal-globalnav .selected a:hover {
  background: #858274;
  color: #205c90;
}

#portal-columns {
  background: White;
}

#portal-footer-wrapper {
  background: #fff url(++theme++tncr/img/footer.jpg) no-repeat;
  text-align: center;
  font-size: 75%;
}

#LSResult {
  z-index: 10000; /* workaround for live search */
}

/* for webcouturier.dropdownmenu */
#portal-globalnav ul {
  width: 165px;
}
#portal-globalnav ul.submenu a, #portal-globalnav ul.submenu a:hover {
  border-style: none;
}

/* for portlets */
.odd {
  background-color: transparent;
}
.even {
  background-color: #f4f4e7;
}
dl.portlet {
  background-color: #ecead6;
}
dt.portletHeader {
  background: #cccac6;
}
dl.portlet dd.portletFooter {
  background: #dddbca;
  text-align: right;
  padding: 5px;
}

/* for atcontents */
#content {
  margin: 1em 0.5em 2em 0.75em;
}
#content .documentDescription {
  margin-bottom: 10px;
  font: 1.25em "Helvetica Neue", Arial, FreeSans, sans-serif;
}
#content p {
  margin-bottom: 2px;
}
figure {
  margin-bottom: 10px;
}

/* for eea */
#eea-ctgr .link-category {
  padding: 0.25em 0.5em;
  background: #ddd;
  border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
}
